.select {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid #4b5563; /* Tailwind gray-600 */
    outline: none;
  }
  
  .option {
    padding: 0.75rem; /* Adjust to your needs */
    height: 3rem; /* Adjust to your needs */
  }
  